<div id="<%= dom_id user %>">
  <p>
    <strong>ID:</strong>
    <%= user.id%>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>


    <%#= user.password %>


  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Credit card information:</strong>
    <%= user.credit_card_information %>
  </p>

</div>
