<div id="<%= dom_id event %>">
  <p>
    <strong>Event name:</strong>
    <%= event.event_name %>
  </p>

  <p>
    <strong>Event category:</strong>
    <%= event.event_category %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

  <p>
    <strong>Event start time:</strong>
    <%= event.event_start_time %>
  </p>

  <p>
    <strong>Event end time:</strong>
    <%= event.event_end_time %>
  </p>

  <p>
    <strong>Ticket price:</strong>
    <%= event.ticket_price %>
  </p>

  <p>
    <strong>Number of seats left:</strong>
    <%= event.number_of_seats_left %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= event.room_id %>
  </p>

</div>
