<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :confirmation_number, style: "display: block" %>
    <%= form.text_field :confirmation_number, readonly:true %>
  </div>

  <div>
    <%= form.label :room_id, style: "display: block" %>
    <%= form.text_field :room_id, readonly:true %>
  </div>

  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%= form.text_field :event_id, readonly:true %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, readonly:true %>
  </div>

  <div>
    <%= form.label :number_of_tickets, style: "display: block" %>
    <%= form.number_field :number_of_tickets %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
