<p style="color: green"><%= notice %></p>

<h1>Tickets</h1>
<% if controller.action_name == 'all_bookings' %>
  <%= form_with(url: all_bookings_path, method: :get) do |form| %>
    <div class="form-group">
      <%= form.label :event_name, "Filter by event:" %>
      <%= form.text_field :event_name_search, placeholder: 'Search by event name', class: 'form-control', id: 'event_name_search', value: params[:event_name_search]%>
    </div>
    <div class="form-group">
      <%= form.label :user_name, "Filter by user:" %>
      <%= form.text_field :user_name_search, placeholder: 'Search by user name', class: 'form-control', id: 'user_name_search', value: params[:user_name_search] %>

    </div>
    <%= form.submit 'Filter', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Clear Filter', all_bookings_path, class: 'btn btn-secondary' %>
<% end %>

<% if controller.action_name == 'my_bookings' %>
  <%= form_with(url: my_bookings_path, method: :get) do |form| %>
    <div class="form-group">
      <%= form.label :event_name, "Filter by event:" %>
      <%= form.text_field :event_name_search, placeholder: 'Search by event name', class: 'form-control', id: 'event_name_search', value: params[:event_name_search]%>
    </div>
    <%= form.submit 'Filter', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Clear Filter', my_bookings_path, class: 'btn btn-secondary' %>
<% end %>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <%event_time = ticket.event.event_end_time.strftime("%H:%M") %>
    <%current_time = Time.current.strftime("%H:%M") %>
    <% if (ticket.user_id == current_user.id || ticket.belongs_to == current_user.id) && (ticket.event.event_date < Time.current.utc.to_date || (ticket.event.event_date == Time.current.utc.to_date && event_time < current_time)) && ticket.event.event_category != 'Miscellaneous'%>
<p>
        <%= link_to "Write a review", new_review_path(event_id: ticket.event_id, user_id: current_user.id) %>
      </p>
    <% end %>
      <%= link_to "Show this ticket", ticket %>
    </p>
  <% end %>
</div>

