<div id="<%= dom_id review %>">
  <p>
    <strong>Event:</strong>
    <%= review.event.event_name %>
  </p>
  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= review.feedback %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user.name %>
  </p>

</div>
